{% if me %}
  <div class="my_profile">
    <div class="profile_image">
      <a href="https://twitter.com/intent/user?screen_name={{me.screen_name}}">
        <img src="{{me.profile_image_url}}">
      </a>
    </div>
    <div class="screen_name">
      <a href="https://twitter.com/intent/user?screen_name={{me.screen_name}}">
        {{me.screen_name}}
      </a>
    </div>
    <div class="logout">
      <a href="{% url logout %}">Logout</a>
    </div>
  </div>
{% else %}
  <div class="login">
    <a href="{% url login %}"><img src="https://si0.twimg.com/images/dev/buttons/sign-in-with-twitter-d.png" alt="sign in with twitter" /></a>
  </div>
{% endif %}
