{% if me %}
  <div class="my_profile">
    <div class="profile_image">
      <a href="https://twitter.com/intent/user?screen_name={{me.screen_name}}">
        <img src="{{me.profile_image_url}}">
      </a>
    </div>
    <div class="screen_name">
      <a href="https://twitter.com/intent/user?screen_name={{me.screen_name}}">
        {{me.screen_name}}
      </a>
    </div>
    <div class="logout">
      <a href="{% url "logout" %}">Logout</a>
    </div>
  </div>
{% else %}
  <div class="login">
    <a href="{% url "login" %}"><img src="https://developer.twitter.com/content/dam/developer-twitter/images/sign-in-with-twitter-gray.png" alt="sign in with twitter" /></a>
  </div>
{% endif %}
